@import "tailwindcss";

@theme {
    --color-brand-50: #eef2ff;
    --color-brand-100: #e0e7ff;
    --color-brand-400: #818cf8;
    --color-brand-500: #6366f1;
    --color-brand-600: #4f46e5;
    --color-brand-900: #312e81;
    --color-brand-950: #1e1b4b;
    --color-surface: #0f172a;
    --color-card: #1e293b;
    --font-sans: "Outfit", sans-serif;
}